#map-holder {
	width: 400px;
	height: 400px;
	overflow: hidden;
	position: relative;
	padding: 10px;
	background-color: aquamarine;
}

.close-button {
	position: absolute;
	right: 0;
	top: 0;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	vertical-align: middle;
	font-size: 25px;
	font-weight: 800;
	background-color: cadetblue;
	border: none;
	cursor: pointer;
}

#close-button:hover {
	transform: scale(1.2);
}

.background {
	fill: gray;
	pointer-events: all;
}

.province {
	fill: #ccc;
	cursor: pointer;
}

.province.active {
	fill: orange;
}

.mesh {
	fill: none;
	stroke: #fff;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.provinceLabel {
	opacity: 0;
}

.provinceName {
	color: black;
}

.tooltip {
	padding: rem(8);
	width: rem(200);
}

.tooltip-content {
	background-color: white;
	border: rem(1) solid #ddd;
	box-shadow: 0 0 rem(8) rgba(192, 192, 192, 0.5);
}
