body {
	background-color: rgb(1, 0, 17);
}

#map-holder {
	width: 500px;
	height: 500px;
	overflow: hidden;
	position: relative;
	padding: 10px;
	border: 1px solid gray;
	/* background-color: aquamarine; */
}

.close-button {
	position: absolute;
	right: 0;
	top: 0;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	vertical-align: middle;
	font-size: 25px;
	font-weight: 800;
	background-color: cadetblue;
	border: none;
	cursor: pointer;
}

#close-button:hover {
	transform: scale(1.2);
}

.background {
	fill: gray;
	pointer-events: all;
}

.province {
	fill: rgb(65, 65, 65);
	cursor: pointer;
	transition: all 1s;
}

.province.active {
	fill: rgba(126, 126, 126, 0);
	transition: all 1s;
}

.localidad {
	fill: black;
	fill-opacity: 0;
	transition: all 1s;
}

.localidad.active {
	fill: rgb(255, 139, 31);
	fill-opacity: 1;
	transition: all 1s;
}

.capital {
	fill: yellow;
	transition: all 1s;
}

.gba {
	fill: red;
}

.mesh {
	fill: none;
	stroke: #fff;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.provinceLabel {
	opacity: 0;
}

.provinceName {
	color: black;
}

.tooltip {
	padding: rem(8);
	width: rem(200);
}

.tooltip-content {
	background-color: white;
	border: rem(1) solid #ddd;
	box-shadow: 0 0 rem(8) rgba(192, 192, 192, 0.5);
}

.solo-bordes {
	fill: none;
	stroke: 1px solid red;
}

.solo-fill {
	fill: tomato;
	stroke: none;
}
